/* styles.css */
.track-row {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.track-row label {
    margin-right: 10px;
    font-weight: bold;
}
.track-row input, .track-row select {
    margin-right: 10px;
    padding: 5px;
}
